
#p1 {
    color: rgb(146, 5, 5);
    font-size: 1vw;
    
}

#p2 {
    color: rgb(0, 112, 108);
    font-size: 1vw;
}

#p3{
    color: rgb(93, 0, 105);
    font-size: 1vw;
}

#p4{
    color: rgb(80, 114, 0);
    font-size: 1vw;
}